<%= form_for(@alram) do |f| %>
  <% if @alram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alram.errors.count, "error") %> prohibited this alram from being saved:</h2>

      <ul>
      <% @alram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
