<div data-role="header" style="background-color:#eb624b; font-family:'Lobster', cursive;"><h1 style="color:white;font-size:20px;">Shopping Note</h1></div>
<div data-role="content" style="background-color:#f2f2f0;">
  <!--% if @friend_ids.blank? %-->
	<div><%= link_to '추천친구 보기', friends_path, style: "text-decoration: none;" %></div>
  <!--% end %-->
  <div id="feed_box"></div>
  <div class="feed_bottom" style=""></div>
</div>
<div data-role="footer" data-position="fixed" data-tap-toggle="false">
  <div data-role="navbar">
	<ul>
	  <li>
	  	<%= link_to 'feed', feeds_path, class: "ui-btn-active", data:{icon: 'grid' } %>
	  </li>
	  <li><a id="heart" href="#" data-icon="heart">heart</a></li>
	  <li>
	  	<%= link_to 'write', new_feed_path, data:{icon: 'plus' } %>
	  </li>
	  <li><a id="search" href="#" data-icon="search">search</a></li>
      <li>
      	<%= link_to 'setting', settings_path, data:{icon: 'gear' } %>
      </li>
    </ul>
  </div>
</div>
<script>
	make_feed();
	
	function make_feed(){
		$.ajax({
		    url: "/feeds/index_json",
		    type: 'GET',
		    dataType: 'json',
		    success: function(feeds) {
		    	html_str = ""
		    	$.each(feeds, function(){
		    		var feed = this;
		    		html_str += "<div id='feed_box_" + feed.id + "' class='feed_box'>"
			        html_str += " <div class='feed_content'>"
			        html_str += "   <div class='nick'>"
			        if(feed.profile_photo){
			        	html_str += "   <div class='user_photo' style='float: left;'><img src='" + feed.profile_photo.image.thumb.url + "'></div>"
			        	
			        }
			        html_str += "     <div class='user_nick' style='float: left; padding: 6px 0 12px 5px;'" + feed.user.nick + "></div>"
			        
			        if(feed.user_id == feed.current_user_id){
			        	html_str += "     <div class='user_delete' style='float: right; padding: 6px 0 12px 0;'><a href=''>삭제</a></div>"
			        }
			        html_str += "   </div>"
			        html_str += "   <div class='content' style='clear: both;'>" + feed.content + "</div>"
			        if(feed.feed_photo){
			        	html_str += " <div class='photo'>"
				        html_str += "   <img class='photo_content' src='" + feed.feed_photo.image.url + "'>"
				        html_str += " </div>"
			        }
			        html_str += "   <div class='like_box'>"
			        html_str += "     <span style='padding-left: 5px;'>like: </span><span class='like_cnt'>" + feed.like_count + "</span>"
			        html_str += "   </div>"
			        html_str += " </div>"
			        html_str += " <div class='like_comment_box'>"
			        html_str += " <div class='feed_like' data-feed-id='" + feed.id + "'>like</div>"
			        html_str += " <a href='/feeds/" + feed.id + "/comment' style='color: white; text-decoration: none; font-weight:normal;'>"  
			        html_str += "   <div class='' style='text-align: center;'>comment</span></div>"
			        html_str += " </a>"
			        html_str += " </div>"  
			        html_str += "</div>"
				})
			    $("#feed_box").html(html_str)
		    },
		    error: function(e) { 
		    }
		});
	}
</script>