// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  width: 100%;
  position: fixed; 
  bottom: 0;
  height: 50px;
  background-color: orange;
  line-height: 50px;
  left: 0;
}

.menu .feed {
  float: left;
  width: 20%;
  text-align: center;
}

.menu .heart {
  float: left;
  width: 20%;
  text-align: center;
}

.menu .new {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 32px;
}

.menu .search {
  float: left;
  width: 20%;
  text-align: center;
}

.menu .my {
  float: left;
  width: 20%;
  text-align: center;
}

.feed_box {
  //margin: 10px;
  margin: 10px 10px 0 10px;
}

.feed_box .nick {
  padding: 5px;
}

.feed_box .content {
  padding: 5px;
  word-break:break-all
}

.feed_box .photo {
  padding: 5px;
}

.feed_bottom {
  height: 50px;
}
